@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #7F00FF, #E100FF);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
}

:root {
  --animate-aurora: aurora 60s linear infinite;
}

@keyframes aurora {
  from {
    background-position:
      50% 50%,
      50% 50%;
  }
  to {
    background-position:
      350% 50%,
      350% 50%;
  }
}

